In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
match=pd.read_csv('https://docs.google.com/spreadsheets/d/1zhpcj7_6Uq96UDNEi3ZS-bu5B3AXCXSRDeiHy0nvvfE/gviz/tq?tqx=out:csv')
ball=pd.read_csv('https://docs.google.com/spreadsheets/d/1gFMly7K_tLPa2fdsImuCHPZ5o7BuXkL8C6jKmb6UuW0/gviz/tq?tqx=out:csv')

In [3]:
def all_teams():
    x={i for i in match['Team1Players']}
    y={i for i in match['Team2Players']}
    return list(x.union(y))
xall=all_teams()

In [4]:
def chemistry(name1,name2):
    c=0
    if name1==name2:
        return 0
    for i in xall:
        y=i.split("'")[1::2]
        #print(type(i))
        #print(type(y),y)
        if name1 in y and name2 in y:
            c=c+1
            #display(y)
    #print(c)
    return c

In [5]:
def all_players(x):
    y=set({})
    for i in x:
        zx=i.split("'")
        for j in zx:
            if j!=', ' and j!='[' and j !=']':
                y.add(j)
    return list(y)
xplay=all_players(xall)

In [6]:
def both_teams():
    x=[i for i in match['Team1Players']]
    y=[i for i in match['Team2Players']]
    return x,y

In [7]:
xac,yac=both_teams()
def against_chem(name1,name2):
    c=0
    for i in range(len(xac)):
        zx=xac[i].split("'")[1::2]
        zy=yac[i].split("'")[1::2]
        if (name1 in zx and name2 in zy) or (name1 in zy and name2 in zx):
            c=c+1
            
        #if :
            #c=c+1
            #display(zx,zy)
    #print(name1,name2,c)
    return c

In [8]:
def bat_bowl():
    bat={}
    bowl={}
    bat={i for i in ball['batter']}
    bowl={i for i in ball['bowler']}
    return list(bat),list(bowl)

In [9]:
def stats_compare(name1,name2,n):
    #print("Start",datetime.now())
    bat,bowl=bat_bowl()
    p1score=0
    p2score=0
    
    #n=against_chem(name1,name2)
    #print("END !",datetime.now())
    #print()
    
    if name1 in bat and name2 in bowl:
        df1=ball[ball['batter']==name1]
        df2=df1[df1['bowler']==name2]
        #print(len(df2))
        if(len(df2)==0):
            p1score=0
            p2score=0
        else:
            out=len(df2[df2['isWicketDelivery']==1])
            balls_played=len(df2)
            total_run = sum(df2['batsman_run'])
            try:
                p1score+=total_run/balls_played
            except:
                p1score+=total_run/1
            try:
                p2score+=out/n
            except:
                p2score+=out/1
    #print("END 1",datetime.now())
    #print(p1score,p2score)
    #print()
    if name1 in bowl and name2 in bat:
        df1=ball[ball['batter']==name2]
        df2=df1[df1['bowler']==name1]
        #print(len(df2))
        if(len(df2)==0):
            p1score=0
            p2score=0
        else:
            out=len(df2[df2['isWicketDelivery']==1])
            balls_played=len(df2)
            total_run = sum(df2['batsman_run'])
            try:
                p2score+=total_run/balls_played
            except:
                p2score+=total_run/1
            try:
                p1score+=out/n
            except:
                p1score+=out/1
    #print("End 2",datetime.now())
    #print(p1score,p2score)
    #print()
    #print()
    #print(name1,name2,p1score,p2score)
    return p1score,p2score

In [12]:
def players():
    x=xall
    y=set({})
    for i in x:
        zx=i.split("'")[1::2]
        y=y.union({j for j in zx})
    return list(y)

In [14]:
x={'Player 1':[],'Player 2':[],'Chemistry':[],'Against Chemistry':[],'Stats Points Player 1':[],'Stats Points Player 2':[]}
#change here
y=players()
y.sort()
#z=y[90:180]
for i in range(len(y)):
    for j in range(len(y)):
        x['Player 1'].append(y[i])
        x['Player 2'].append(y[j])
        x['Chemistry'].append(chemistry(y[i],y[j]))
        x['Against Chemistry'].append(against_chem(y[i],y[j]))
        a,b=stats_compare(y[i],y[j],against_chem(y[i],y[j]))
        x['Stats Points Player 1'].append(a)
        x['Stats Points Player 2'].append(b)
        #print(y[i],y[j])
    #print(y[i],i)
df=pd.DataFrame(x)

A Ashish Reddy 0
A Chandila 1
A Chopra 2
A Choudhary 3
A Dananjaya 4
A Flintoff 5
A Kumble 6
A Mishra 7
A Mithun 8
A Mukund 9
A Nehra 10
A Nel 11
A Nortje 12
A Singh 13
A Symonds 14
A Uniyal 15
A Zampa 16
AA Bilakhia 17
AA Chavan 18
AA Jhunjhunwala 19
AA Kazi 20
AA Noffke 21
AB Agarkar 22
AB Barath 23
AB Dinda 24
AB McDonald 25
AB de Villiers 26
AC Blizzard 27
AC Gilchrist 28
AC Thomas 29
AC Voges 30
AD Hales 31
AD Mascarenhas 32
AD Mathews 33
AD Nath 34
AD Russell 35
AF Milne 36
AG Murtaza 37
AG Paunikar 38
AJ Finch 39
AJ Turner 40
AJ Tye 41
AK Markram 42
AL Menaria 43
AM Nayar 44
AM Rahane 45
AM Salvi 46
AN Ahmed 47
AN Ghosh 48
AP Dole 49
AP Majumdar 50
AP Tare 51
AR Bawne 52
AR Patel 53
AS Joseph 54
AS Rajpoot 55
AS Raut 56
AS Roy 57
AS Yadav 58
AT Carey 59
AT Rayudu 60
AU Rashid 61
AUK Pathan 62
Abdul Samad 63
Abdur Razzak 64
Abhishek Sharma 65
Akash Singh 66
Anand Rajan 67
Anirudh Singh 68
Ankit Sharma 69
Ankit Soni 70
Anmolpreet Singh 71
Anuj Rawat 72
Anureet Singh 73
Arshdeep Singh 74
Avesh Khan 75
Azhar Mahmood 76
B Akhil 77
B Chipli 78
B Geeves 79
B Kumar 80
B Laughlin 81
B Lee 82
B Stanlake 83
B Sumanth 84
BA Bhatt 85
BA Stokes 86
BAW Mendis 87
BB McCullum 88
BB Samantray 89
             Player 1        Player 2  Chemistry  Against Chemistry  \
0      A Ashish Reddy  A Ashish Reddy          0                  0
1      A Ashish Reddy      A Chandila          0                  2
2      A Ashish Reddy        A Chopra          0                  0
3      A Ashish Reddy     A Choudhary          0                  0
4      A Ashish Reddy     A Dananjaya          0                  0
...               ...             ...        ...                ...
55165    BB Samantray     YV Takawale          0                  0
55166    BB Samantray   Yashpal Singh          0                  0
55167    BB Samantray     Younis Khan          0                  0
55168    BB Samantray    Yuvraj Singh          0                  0
55169    BB Samantray          Z Khan          0                  0

       Stats Points Player 1  Stats Points Player 2
0                        0.0                    0.0
1                        0.0                    0.0
2                        0.0                    0.0
3                        0.0                    0.0
4                        0.0                    0.0
...                      ...                    ...
55165                    0.0                    0.0
55166                    0.0                    0.0
55167                    0.0                    0.0
55168                    0.0                    0.0
55169                    0.0                    0.0

[55170 rows x 6 columns]

In [19]:
display(df)
pd.ExcelWriter("ipl_players.xlsx")
df.to_excel("ipl_players.xlsx")

,Player 1,Player 2,Chemistry,Against Chemistry,Stats Points Player 1,Stats Points Player 2
0,A Ashish Reddy,A Ashish Reddy,0,0,0.0,0.0
1,A Ashish Reddy,A Chandila,0,2,0.0,0.0
2,A Ashish Reddy,A Chopra,0,0,0.0,0.0
3,A Ashish Reddy,A Choudhary,0,0,0.0,0.0
4,A Ashish Reddy,A Dananjaya,0,0,0.0,0.0
...,...,...,...,...,...,...
55165,BB Samantray,YV Takawale,0,0,0.0,0.0
55166,BB Samantray,Yashpal Singh,0,0,0.0,0.0
55167,BB Samantray,Younis Khan,0,0,0.0,0.0
55168,BB Samantray,Yuvraj Singh,0,0,0.0,0.0
55169,BB Samantray,Z Khan,0,0,0.0,0.0

ModuleNotFoundError: No module named 'openpyxl'